<nav>
    <div id="logo" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Education</b>Temp</div>
    <ul id="menubar">
        <li><a href="/">Main Page</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
    <ul id="join">
        <li><a href="/signup">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </ul>
</nav>