<%- include('shared/htmlstart') -%>
<main>
    <h2>Blog</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nemo iure aperiam reprehenderit deserunt inventore eligendi eum similique consequuntur, cum fugiat cumque aspernatur necessitatibus vel asperiores quae aliquam. Sed, rerum corrupti! Nisi magni eveniet soluta rerum ut, commodi dolorem impedit ullam est animi reprehenderit molestiae similique atque, corrupti ratione tempora magnam assumenda consequuntur. Officia corporis ad, deserunt delectus, obcaecati odio soluta consectetur ullam corrupti ab aspernatur neque doloribus inventore molestias distinctio velit praesentium aut officiis vel. Animi deleniti veritatis possimus pariatur. Fuga quidem magnam aperiam blanditiis dolores vitae qui totam autem optio ipsum sequi, provident eaque natus voluptatem odit eos!</p>
</main>
<%- include('shared/htmlend') -%>