<%- include('shared/htmlstart') -%>
<main id="courses">
    <h3>Courses</h3>
    <ul id="courseList">
        <li>Machine Learning</li>
        <li>Data Structures</li>
        <li>Backend Development</li>
        <li>Full Stack Development</li>
        <li>Object Oriented Programming</li>
    </ul>
</main>
<%- include('shared/htmlend') -%>