<%- include('shared/htmlstart') -%>
<main>
    <h3>Good coaching is good teaching</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae dignissimos debitis, odit magnam minus culpa, harum numquam, in magni enim blanditiis placeat dolores ducimus reiciendis amet at! Impedit, nemo eius!</p>
    <div id="joinButtons">
        <a href="/signup" class="wavy-btn">Join as a Student</a>
        <a href="/signup" class="wavy-btn">Join as an Instructor</a>
    </div>
</main>
<%- include('shared/htmlend') -%>