<%- include('nav') -%>
<br>
<h2>Home Page</h2>
<br>
<h3>Good coaching is good teaching</h3>
<br>
<p>In a coaching role, you ask the questions and rely more on your staff, who become the experts, to provide the information.</p>
<img href="https://www.freeiconspng.com/thumbs/rocket-ship-png/rocket-ship-png-7.png">
<br>