<%- include('shared/htmlstart') -%>
<main id="shop">
    <h3>Shop</h3>
    <p>Click the button below to see available courses and purchase them</p>
    <a href="/courses" class="sassy-btn">Purchase Courses</a>
</main>
<%- include('shared/htmlend') -%>